<h1>Registries Index</h1>

<ul>

  <% @registries.each do |registry| %>

    <li>
      <%= registry.name %>
      

      <ul>
        <% registry.cats.each do |cat| %>

          <li>
            <%= link_to cat.name, cat_path(cat) %>
            -
            <%= cat.breed %>
          </li>

        <% end %>
      </ul>

    </li>

  <% end %>

</ul>
